@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --primary-color: #5B21B6;
    --hover-color: #4C1D95;
    --bg-light: #f7fafc;
    --text-dark: #2d3748;
    --border-color: #d1d5db;
    --dark-border-color: #4b5563;
    --shadow-color: rgba(0, 0, 0, 0.05);
    --hover-shadow-color: rgba(0, 0, 0, 0.1);
    --card-bg: #f7fafc;
    --dark-card-bg: #1f2937;
    --padding-x: 24px;
    --padding-y: 16px;
    --font-family: "Josefin Sans", sans-serif;
    --font-weight-bold: 700;
    --font-size-lg: 1.125rem;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.606 0.25 292.717);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.606 0.25 292.717);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.606 0.25 292.717);
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-light);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 20;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    background-color: var(--bg-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer a {
    color: #5B21B6;
    font-weight: 600;
    padding: 0 0.25rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #1a202c;
}

.footer-icon {
    color: #dc2626;
    margin: 0 0.25rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.75;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1152px;
    padding: var(--padding-y) var(--padding-x);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.hg-icon {
    height: 25px;
    width: 25px;
    margin-right: 12px;
    color: var(--primary-color);
}

.brand-title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px var(--hover-shadow-color);
    padding: var(--padding-y) 0;
    z-index: 10;
}

.nav.open {
    display: block;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    align-items: center;
}

@media (min-width: 1024px) {
    .nav {
        display: flex;
        position: static;
        width: auto;
        box-shadow: none;
        padding: 0;
    }
}

.nav-link {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--hover-color);
}

.home-container,
.product-listings-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.page-title {
    font-size: 1.875rem;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
    margin-top: 1rem;
    padding: 0.5rem 0;
}

.page-heading-container {
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.page-heading-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #4b5563;
}

.product-card {
    width: 18rem;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 20px 20px 60px #d2d5d6,
               -20px -20px 60px #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 6px var(--hover-shadow-color);
}

.product-card-image-container {
    position: relative;
    width: 100%;
    height: 18rem;
    /* border-bottom: 1px solid var(--border-color); */
}

.product-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.product-card-image:hover {
    transform: scale(1.1);
}

.product-card-details {
    height: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.product-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.product-card-description {
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 1rem;
}

.product-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.product-card-price {
    --tw-bg-opacity: 1;
    background-color: rgb(245 243 255 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(91 33 182 / var(--tw-text-opacity, 1));
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}

.product-listings-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 1.5rem;
    padding: 3rem 0;
}

@media (min-width: 640px) {
    .product-listings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-listings-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.product-listings-empty {
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    color: var(--primary-color);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.541 0.281 293.009);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.541 0.281 293.009);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.541 0.281 293.009);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.541 0.281 293.009);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}